<div class="header-content">
    <h1>ASSIGNMENT 4</h1>
    <div class="header-links">
        <a class="header-link" href="/">Home</a>
        <a class="header-link" href="/api/invoices">Invoice Data</a>
        <a class="header-link" href="/api/filter-form">Filter Invoice Data</a>
        <a class="header-link" href="/api/newInvoice">New Invoice</a>
    </div>
</div>
