
    <h1>{{title}}</h1>
    <div class="form-body">
    <form id="filterForm" action="/api/filterInvoices" method="GET">
        <label for="branch">Branch:</label>
        <input type="text" id="branch" name="branch" placeholder="Filter by branch">

        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="Filter by city">

        <label for="customerType">Customer Type:</label>
        <input type="text" id="customerType" name="Customer type" placeholder="Filter by customer type">

        <label for="productLine">Product Line:</label>
        <input type="text" id="productLine" name="Product line" placeholder="Filter by product line">

    <button type="submit">Filter</button>
    </form>
    </div>

